<!DOCTYPE html>
<html>

<head>
    {% if title: %}
    <title>{{title}} - Microblog</title>
    {% else: %}
    <title> Welcome to Microblog</title>
    {% endif %}
</head>

<body>
    <div> Microblog: <a href= {{ url_for("index") }}> Home</a> 
    				 <a href= {{ url_for("login") }}> Login</a>
    </div>
    <hr>
    {% for message in get_flashed_messages() %}
    <ul>
    	<li> {{ message }} </li>
    </ul>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>

</html>